<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779463430224-9b00knh3150ahvppb3ki090v4t21hsbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779463430224-9b00knh3150ahvppb3ki090v4t21hsbh</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4gu3pca775IkhlDx4Y1IbYZSWc2jbjI</string>
	<key>GCM_SENDER_ID</key>
	<string>779463430224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappPurpal</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-purple-d76e3</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-purple-d76e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779463430224:ios:61f4326e55324e48d54155</string>
</dict>
</plist>